# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE & OS files
.vscode/
.idea/
*.DS_Store

# === 机器学习相关 ===
# 忽略所有模型权重文件
*.pt
*.pth
*.h5
*.onnx

# 或者，如果你想更精确地忽略某个文件夹下的所有模型
# trained_models/
